[submodule "public/themes/pirateparty"]
	path = public/themes/pirateparty
	url = https://github.com/corvus-ch/RedmineTheme.git
[submodule "vendor/plugins/projects_tree_view"]
	path = vendor/plugins/projects_tree_view
	url = https://github.com/MischaTheEvil/projects_tree_view.git
[submodule "vendor/plugins/redmine_auto-percent"]
	path = vendor/plugins/redmine_auto-percent
	url = https://github.com/wadewomersley/redmine-auto-percent.git
[submodule "vendor/plugins/redmine_autohier"]
	path = vendor/plugins/redmine_autohier
	url = https://github.com/merikonjatta/redmine_autohier
[submodule "vendor/plugins/redmine_close_button"]
	path = vendor/plugins/redmine_close_button
	url = https://github.com/Undev/redmine_close_button.git
[submodule "vendor/plugins/rqrcode"]
	path = vendor/plugins/rqrcode
	url = https://github.com/whomwah/rqrcode.git
[submodule "vendor/plugins/redmine_equipment_status_viewer"]
	path = vendor/plugins/redmine_equipment_status_viewer
	url = https://github.com/sukima/redmine_equipment_status_viewer.git
